.rooms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  box-sizing: border-box;
 

  &__list {
    margin-top: clamp(24px, 4.49vw, 30px);
    display: flex;
    flex-wrap: wrap;
    column-gap: clamp(28px, 2.5vw, 32px);
    row-gap: clamp(32px, 5.2vw, 37px);
    padding: 0;
    align-items: stretch;
    justify-content: center;
    box-sizing: border-box;
  }

  &__item {
    width: 33.3%;
    flex: 1;
  @include mobile{
    width: 336px;    
  }
}
}
