.rooms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  box-sizing: border-box;
  gap: clamp(24px, 3.39vw, 33px);
  

  &__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: clamp(28px, 2.5vw, 32px);
    row-gap: clamp(32px, 2.89vw, 37px);
    padding: 0;
    align-items: stretch;
    justify-content: center;
    box-sizing: border-box;
  }

  &__item {
    width: clamp(288px, 43.49vw, 372px);
    box-sizing: border-box;
  @include mobile{
    width: 336px;    
  }
}
}
