.articles-pagination {
  margin-inline: auto;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 80px;

  .category:active {
    background-color: rgba(var(--color-accent-rgb), 0.2);
    outline: none;
  }

  .dots {
    display: flex;
    cursor: pointer;
    align-items: center;
  }

  .page-btn {
    background-color: transparent;

    &:hover {
      color: var(--color-accent);
    }
  }

  .next-btn,
  .prev-btn {
    box-sizing: border-box;
    padding: 10px 16px;
    font-size: 18px;
  }
}

.show-more-btn {
  margin-top: 40px;
  max-width: 280px;
  margin-inline: auto;

  svg {
    margin-bottom: -5px;
    margin-left: 10px;
  }
}
