.footer {
  margin-top: 100px;
  background-color: rgba(var(--color-accent-rgb), 0.05);

  @include tablet {
    margin-top: 80px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 36px;
  }

  .nav {
    &__list {
      display: flex;
      gap: min(5.56vw, 80px);
      margin-top: 36px;
      margin-bottom: 64px;
    }

    &__item {
      @include hover {
        color: var(--color-accent);
      }
    }
  }

  small {
    text-align: center;
    font-size: small;
  }
}
