.hamburger {
  &:hover {
    cursor: pointer;
  }
}

.is-active {
  .line:nth-child(2) {
    opacity: 0;
  }

  .line:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
    transform: translateY(6px) rotate(45deg);
    transform: translateY(6px) rotate(45deg);
    transform: translateY(6px) rotate(45deg);
  }

  .line:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
    transform: translateY(-6px) rotate(-45deg);
    transform: translateY(-6px) rotate(-45deg);
    transform: translateY(-6px) rotate(-45deg);
  }
}


.line {
  width: 25px;
  height: 3px;
  background-color: rgba(var(--color-accent-rgb), 0.8);
  display: block;
  margin: 3px auto;
  transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
